# Ignorar a pasta do ambiente virtual
Lib/
Include/
Scripts/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar configurações do VSCode (se usar)
.vscode/

# Arquivos temporários do sistema
*.log
.DS_Store
Thumbs.db

# Arquivos do PIP
pip-selfcheck.json

# Banco de dados local (caso use SQLite, por exemplo)
*.sqlite3

# Pasta de dependências (se criar com pip install -r requirements.txt)
env/
venv/
.venv/

# Arquivo de variáveis sensíveis (se usar)
.env
